.active {
    padding: 10px 30px;
    border: 2px solid rgb(162, 133, 230);
    cursor: pointer;
    }
    
    .default {
    padding: 10px 30px;
    border: 2px solid black;
    cursor: pointer;
    }
    
    .content {
    padding: 50px 30px;
    }